:root {
    --background-surface: #EFEFEF;
    --primaryColor: #43281C;
    --secondaryColor: #333D29;
    --color3: #7F4F24;
    --color4: #B08968;
    --color5: #DDB892;
    --color6: #EDE0D4;
    --highlight: #FBF2C6;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body>header {
    position: fixed;
    width: 100%;
    top: 0;
}

body>main {
    margin: auto;
    margin-top: 60px;
    max-width: 500px;
}

h1 {
    background-color: var(--primaryColor);
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 20px;
    font-weight: normal;
}

ul {
    display: none;
    padding: 0;
}

a.navlink {
    color: var(--highlight);
    padding: 8px;
    text-decoration: none;
}

#linkHome {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
}

#linkOrder {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

section.page {
    display: none;
}

#badge {
    padding: 4px;
    background-color: red;
    border-radius: 15px;
    width: 10px;
    text-align: center;
    font-size: x-small;
    color: white;
    position: absolute;
    right: 5px;
    top: 6px;
}

/* View Transitions */

/* STEP 1 */


::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}


/* STEP 2 */


@keyframes fade-in {
    from { opacity: 0; }
  }
  
  @keyframes fade-out {
    to { opacity: 0; }
  }
  
  @keyframes slide-from-right {
    from { transform: translateX(60px); }
  }
  
  @keyframes slide-to-left {
    to { transform: translateX(-60px); }
  }
  
  ::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  
  ::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

/* STEP 3 */

 body>header {
    view-transition-name: main-header;    
}

/* STEP 4 */
details-page::part(image) {
    width: 120%;
    margin-left: -10%;
}

::view-transition-new(image) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in
}
